*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
#img{
  height: 24rem;
  width: 24rem;
  justify-items: center;
  margin: 0 33% 0 33%;
}